<div class="scheme-toggle">
    <button
        mat-icon-button
        class="scheme-btn"
        [class.scheme-btn--active]="scheme === 'auto'"
        matTooltip="Automatic (OS preference)"
        (click)="setScheme('auto')"
    >
        <mat-icon>bolt</mat-icon>
    </button>
    <button
        mat-icon-button
        class="scheme-btn"
        [class.scheme-btn--active]="scheme === 'light'"
        matTooltip="Light theme"
        (click)="setScheme('light')"
    >
        <mat-icon>light_mode</mat-icon>
    </button>
    <button
        mat-icon-button
        class="scheme-btn"
        [class.scheme-btn--active]="scheme === 'dark'"
        matTooltip="Dark theme"
        (click)="setScheme('dark')"
    >
        <mat-icon>dark_mode</mat-icon>
    </button>
</div>
